.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 5vw;
    padding-right: 5vw;
}

h1 {
    font-size: 40px;
}

.connect-wallet {
    background-color: black;
    color: whitesmoke;
    border: none;
    padding: 6px 8px;
    min-width: 150px;
    /* border-radius: 4px; */
    cursor: pointer;
    transition: all 0.3s ease;
}

.connect-wallet:hover {
    scale: 1.1;
}

@media screen and (max-width: 800px) {
    h1 {
        font-size: 25px;
    }

    .connectWallet-mobile {
        background-color: black;
        color: whitesmoke;
        padding: 6px 8px;
        border: none;
        height: 40px;
        width: 40px;
    }
}