.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style-type: none;
    padding-left: 0;
}

/* .break-line {
    border-bottom: 2px solid black;
    width: 80%; 
    margin-left: 8%;
    margin-right: 8%;
} */

hr {
    width: 90%;
    height: 2px;
    background-color: black;
    border: none;
}

.navlink {
    text-decoration: none;
    color: black;
    font-weight: 800;
}

.navlink:hover {
    text-decoration: underline;
}

